<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>
<body>
    <main>
        <div>
            <h1>
                <td>{{ todolist.name }}</td>
            </h1>
            <h2>Tasks</h2>
            <div>
            <tr>
            <p>
                <td><a href="{% url 'todo_list_update' todolist.pk %}">Edit</a></td>
            </p>
            <p>
                <td><a href="{% url 'todo_list_delete' todolist.pk %}">Delete</a></td>
            </p>
            </tr>
            </div>
            <table>
                <thead>
                    <tr>
                        <th> Task </th>
                        <th> Due date </th>
                    </tr>
                <thead>
                <tbody>
                {% for item in todolist.items.all %}
                    <tr>
                    <td>
                        <a href="{% url 'todo_item_update' item.pk %}">{{ item.task }}</a>
                    </td>
                    <td> {{ item.due_date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
     </main>
</body>
</html>
